<html ng-app="MyApp">

<head>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/Scripts/angular-touch.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>

    <script src="~/Scripts/app/Main/RecruitmentAppModule.js"></script>
    <script src="~/Scripts/app/Main/RecruitmentAppRouting.js"></script>

    <script src="http://lorenzofox3.github.io/smart-table-website/bower_components/angular-smart-table/dist/smart-table.js"></script>

    <link data-require="bootstrap-css@3.0.0" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link href="~/Content/HeaderStyle.css" rel="stylesheet" />


    <style>

        body {
                background-image: url("http://www.spyderonlines.com/images/wallpapers/metal-wallpaper/metal-wallpaper-5.jpg");
                background-size: cover;
             }

        #main{
                 background-color: #FFFFFF;
             }

    </style>

</head>

<body >

    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Sentimus Recruitment</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-home"></i> Sentimus </a></li>
                    <li><a href="#/Company"><i class="fa fa-comment"></i> Company </a></li>
                    <li><a href="#/Developer"><i class="fa fa-comment"></i> Developer </a></li>
                    <li><a href="#/Jobs"><i class="fa fa-comment"></i> Jobs </a></li>
                    <li><a href="#/Contact"><i class="fa fa-comment"></i> Contact </a></li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>
    </div>

</body>


</html>



